# Preprocessing SNP array data - step3

In [1]:
suppressMessages(library(data.table))
suppressMessages(library(tidyverse))

## Generate GWAS summary file

In [2]:
# Read and filter logistic regression results
gwas_raw <- fread("data/GWAS_LogisticRegression.assoc.logistic")
gwas_add <- gwas_raw[gwas_raw$TEST == "ADD", ] %>% select(CHR, SNP, BP, P)

In [3]:
# Inspect filtered results
summary(gwas_add$P)
nrow(gwas_add)
head(gwas_add)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
 0.0000  0.2399  0.4896  0.4927  0.7432  1.0000       7

[1] 161092

  CHR SNP         BP      P
1 1   rs4475691    846808 0.84230
2 1   rs6660139    916549 0.59800
3 1   rs3128108    930329 0.37530
4 1   rs3128117    944564 0.07298
5 1   rs115413462  979690 0.89460
6 1   rs6671356   1040026 0.64750

In [4]:
# Convert to BED format: CHR, Start, End, SNP, P
gwas_bed <- gwas_add[, c("CHR", "BP", "BP", "SNP", "P")]
colnames(gwas_bed) <- c("CHR", "Start", "End", "SNP", "P")

In [5]:
# Export
write.table(gwas_bed, file = "outputs/GWAS_Summary.bed", sep = "\t", row.names = FALSE, col.names = FALSE, quote = FALSE)